<div class="login-container">
  <div class="login-card">
    <div class="logo-container">
      <img src="assets/logo1.png" alt="Logo" class="logo" />
      <h2>InvGestor</h2>
    </div>

    <h3 class="login-title">Registro</h3>

    <label for="correo">Correo</label>
    <input
      id="correo"
      type="email"
      [(ngModel)]="correo"
      placeholder="Ingrese el correo electrónico"
    />

    <label for="contrasena">Contraseña</label>
    <input
      id="contrasena"
      type="password"
      [(ngModel)]="contrasena"
      placeholder="Ingrese su contraseña"
    />

    <label for="empresa">Nombre de empresa</label>
    <input
      id="empresa"
      [(ngModel)]="empresa"
      placeholder="Ingresar nombre"
    />

    <label for="nit">NIT</label>
    <input id="nit" [(ngModel)]="nit" placeholder="Ingresar NIT" />

    <label for="responsable">Nombre del responsable</label>
    <input
      id="responsable"
      [(ngModel)]="responsable"
      placeholder="Ingresar nombre"
    />

    <label for="documento">Documento de identidad</label>
    <input
      id="documento"
      [(ngModel)]="documento"
      placeholder="Ingresar número de documento"
    />

    <button class="upload-button" (click)="subirLogo()">Subir logo</button>

    <button (click)="registrarse()">Registrarse</button>

    <a routerLink="/login" class="forgot-link">Volver al inicio de sesión</a>
  </div>
</div>

