@import '../login/login.component.scss'; /* reutiliza estilos del login */

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.cancel-btn {
  background-color: transparent;
  color: #111;
  border: 1px solid #ccc;
}

.cancel-btn:hover {
  background-color: #f2f2f2;
}
