<div class="dashboard-container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-header">
      <img src="assets/logo1.png" alt="Logo" class="logo" />
      <h2>InvGestor</h2>
      <p class="subtitle">Mi Empresa</p>
    </div>

    <nav class="menu">
      <a routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon> Resumen
      </a>
      <a routerLink="/ventas" routerLinkActive="active">
        <mat-icon>attach_money</mat-icon> Ventas
      </a>
      <a routerLink="/productos" routerLinkActive="active">
        <mat-icon>inventory_2</mat-icon> Productos
      </a>
      <a routerLink="/compras" routerLinkActive="active">
        <mat-icon>shopping_cart</mat-icon> Compras
      </a>
      <a routerLink="/reportes" routerLinkActive="active">
        <mat-icon>description</mat-icon> Reportes
      </a>
    </nav>

    <footer class="sidebar-footer">
      <button mat-fab extended color="primary">
        <mat-icon>settings</mat-icon> Configuración
      </button>

      <br />
      <small>Usuario Demo</small>
    </footer>
  </aside>

  <!-- Contenido principal -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
